.App {
  text-align: center;
}

#cell-top-left:hover,
#cell-top-middle:hover,
#cell-top-right:hover,
#cell-middle-left:hover,
#cell-middle-middle:hover,
#cell-middle-right:hover,
#cell-bottom-left:hover,
#cell-bottom-middle:hover,
#cell-bottom-right:hover {
  background-color: #f8f9fa;
}

/* come back to */
/* button {
  border: none;
  background-color: transparent;
} */

button {
  width: 100%;
  height: 100%;
}

.centered {
  margin: 0 auto;
}
